<section>
    <h1>{{date}} ({{time}})</h1>
    {{#if user.isGM}}
        <div class="input-grid">
            <button type="button" data-advance-time="6">{{localize "PF2E.WorldClock.Button.AddOneRound"}}</button>
            <button type="button" data-advance-time="60">{{localize "PF2E.WorldClock.Button.AddOneMinute"}}</button>
            <button type="button" data-advance-time="600">{{localize "PF2E.WorldClock.Button.AddTenMinutes"}}</button>
            <button type="button" data-advance-time="3600">{{localize "PF2E.WorldClock.Button.AddOneHour"}}</button>
            <button type="button" data-advance-time="86400">{{localize "PF2E.WorldClock.Button.AddOneDay"}}</button>
            <button type="button" data-advance-time="604800">{{localize "PF2E.WorldClock.Button.AddOneWeek"}}</button>
        </div>
        <hr>
        <div class="input-grid">
            <input name="diff-value" type="number" required="required" placeholder="{{localize "PF2E.WorldClock.Placeholder"}}">
            <select name="diff-unit">
                <option value="1">{{localize "PF2E.Time.Unit.Seconds"}}</option>
                <option value="6">{{localize "PF2E.Time.Unit.Rounds"}}</option>
                <option value="60">{{localize "PF2E.Time.Unit.Minutes"}}</option>
                <option value="3600">{{localize "PF2E.Time.Unit.Hours"}}</option>
                <option value="86400">{{localize "PF2E.Time.Unit.Days"}}</option>
                <option value="604800">{{localize "PF2E.Time.Unit.Weeks"}}</option>
            </select>
            <button type="button" name="advance">{{localize "PF2E.WorldClock.Button.Advance"}}</button>
        </div>
    {{/if}}
</section>
